body, html {
    margin: 0px;
    height: 100%;
    background-color: black;
}

h2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 1%;
    left: 50%;
    font-family: product-bold;
    font-size: 5rem;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    animation-name: h2_intro;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
    user-select: none;
}

.wh-bg {
    background-image: url(content/images/swiftwater-small.png);
    height: 450px;
    width: 450px;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wolfhud-div {
    background-image: url(content/images/swiftwater-small.png);
    width: 450px;
    height: 450px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 300px;
    position: absolute;
    border-radius: 20px;
    border-style: solid;
    border-width: 8px;
    border-color: white;
    border-bottom-color: gray;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-right-color: gray;
    border-right-width: 8px;
    border-right-style: solid;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#wh-div:hover #bg  {
    opacity: 0;
}

.bg {
    background-image: url("content/images/badwater.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    opacity: 0%;
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.wolfhud-div:hover {
    top: 48%;
}

.wolfhud-div:active {
    top: 49%;
    left: 302px;
}

h1 {
    font-family: product-bold;
    color: white;
    text-align: center;
    font-size: 5rem;
    user-select: none;
    position: relative;
    transform: translateY(120%);
    text-shadow: 4px 4px black;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 80rem) {
    h2 {
        font-size: 4rem;
        width: 100%;
        text-align: center;
        top: -1%;
    }

    .wolfhud-div {
        width: 80%;
        left: 50%;
        height: 50%;
        top: 55%;
    }

    .wolfhud-div:active {
        left: 50%;
    }

    h1 {
        font-size: 3.5rem;
    }
}

@keyframes h2_intro {
    0% {
        top: -50%;
    }
}

@font-face {
    font-family: product;
    src: url(content/fonts/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: product-bold;
    src: url(content/fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: product-italic;
    src: url(content/fonts/Product\ Sans\ Italic.ttf);
}

@font-face {
    font-family: product-bold-italic;
    src: url(content/fonts/Product\ Sans\ Bold\ Italic.ttf);
}